@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --text-primary: #172426;
  --text-secondary: #6C8989;
  --text-tertiary: #ADC9A6;
  --green-primary: #153C3C;
  --green-secondary: #F2F8F8;
  --green-tertiary: #84A17D;
}


/* general styles */

* {
  font-family: 'Roboto', sans-serif;
}
section {
  margin-top: 120px;
}
a, .btn {
  transition: .25s;
}
a:hover, .btn:hover {
  filter: brightness(.85);
}
a:active, .btn:active {
  filter: brightness(1);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1060px;
  margin: 0 auto;
}
.btn {
  background: var(--green-tertiary, #84A17D);
  padding: 7px 24px 9px 24px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 13px;
  line-height: 24px;
  color: #fff;
}
.section__heading {
  padding: 8px 16px;
  background: #F3F7F2;
  font-size: 18px;
  color: var(--green-primary, #153C3C);
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
}
.section__title {
  margin-top: 13px;
  max-width: 612px;
  text-align: center;
  font-size: 56px;
  color: var(--text-primary, #172426);
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.24px;
}
.arrow-ico {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: .25s;
}
.price {
  color: var(--text-tertiary, #ADC9A6);
}
.copyright {
  color: #fff;
}

/* animations */

@keyframes move {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(5%);
  }
}

/* header */

.header-container {
  display: block;
  padding: 30px 0;
}
header {
  background: var(--green-primary, #153C3C);
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background: var(--text-tertiary, #ADC9A6);
  color: var(--text-primary, #172426);
}
.banner__text {
  margin-left: 4px;
  font-size: 11px;
  line-height: 24px;
  letter-spacing: .24px;
  text-align: center;
}
.banner__ico {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__ico svg {
  position: relative;
  top: -2px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 1px;
  margin: 0 0 0 72px;
}
.nav-list__item {
  padding: 9px 25px;
}
.nav-link {
  text-decoration: none;
  color: #DDE4E4;
}
.header__nav .btn {
  margin-left: auto;
}

/* hero section */

.section-hero {
  margin-top: 100px;
}
.section-hero__title {
  position: relative;
  max-width: 567px;
  margin-top: 11px;
  text-align: center;
  font-size: 62px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 2.88px;
}
.section-hero__title::after {
  position: absolute;
  left: 160px;
  bottom: -22px;
  content: url(/img/underscore-ico.svg);
  z-index: -1;
}
.hero-image {
  margin-top: 80px;
}

/* landing page examples section */

.section__landings {
  margin-top: 160px;
}
.section__landings .section__title {
  font-size: 56px;
  text-align: center;
  line-height: 64px;
  letter-spacing: 2.24px;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 96px;
  padding: 0;
  gap: 40px;
}
.examples-item {
  padding: 40px 56px;
  padding-bottom: 0;
  background: var(--green-secondary, #F2F8F8);
  border-radius: 12px;
}
.examples-item-heading {
  font-size: 21px;
  color: var(--text-primary, #172426);
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.96px;
}
.examples-image {
  max-width: 398px;
  margin-top: 40px;
}

/* company pages section */

.section__company .section__title {
  font-size: 51px;
}

/* pricing section */

.section__pricing .section__title {
  font-size: 49px;
}

/* additional pages section */

.additional-pages-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 96px;
  padding: 0;
  gap: 40px;
}
.additional-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 510px;
  padding: 40px;
  background: var(--green-secondary, #F2F8F8);
  border-radius: 12px;
  cursor: pointer;
  transition: .25s;
}
.additional-item:hover {
  filter: brightness(.85);
}
.additional-item:hover .arrow-ico {
  transform: translateX(5px); 
}
.addtional-item-heading {
  font-size: 22px;
  color: var(--text-primary, #172426);
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.96px;
}


/* purchase section */

.purchase-container {
  flex-direction: row;
  background: var(--green-primary, #153C3C);
  background-image: url(/img/purchase-bg-vector.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.purchase-container::before {
  z-index: 1;
}
.purchase-content {
  max-width: 524px; /* 480px and padding -20px */
  padding: 64px;
  padding-right: 0;
}
.purchase-heading {
  font-size: 36px;
  color: #fff;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.6px;
}
.purchase-list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 33px;
  padding: 0;
  gap: 10px;
}
.purchase__item {
  max-height: 48px;
}
.purchase-list .price {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}
.purchase__description {
  display: inline-block;
  max-width: 124px;
  font-size: 12px;
  color: #DDE4E4;
  line-height: 24px;
  letter-spacing: 0.28px;
}
.purchase-list .btn {
  margin-left: 14px;
  padding: 16px 44px;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
}

/* footer */

footer {
  margin-top: 100px;
  background: var(--green-primary, #153C3C);
}
.footer-container {
  padding-top: 100px;
  padding-bottom: 40px;
}
.footer-content {
  display: flex;
  gap: 87px;
  z-index: 1;
}
.footer-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  min-width: 170px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  gap: 8px;
}
.footer-nav_row {
  width: 100%;
  min-height: 42px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-nav-list_horizontal {
  display: flex;
  align-items: center;
  gap: 26px;
}
.footer-info {
  max-width: 380px;
}
.footer-heading {
  position: relative;
  font-size: 34px;
  color: #fff;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.6px;
}
.footer-heading_big {
  font-size: 38px;
}
.footer-heading_logo {
  position: relative;
  font-size: 36px;
}
.footer-heading_logo::after {
  position: absolute;
  left: 0px;
  top: 10px;
  content: url(/img/footer-underscore.svg);
  z-index: -1;
}
.footer__description {
  margin-top: 28px;
  font-size: 15px;
  color: #DDE4E4;
  line-height: 28px;
  letter-spacing: .32px;
}
.footer-nav-heading {
  font-size: 16;
  color: #F4F5F6;
  font-weight: 400;
  line-height: 24px;
}
.footer-nav__item .nav-link {
  font-size: 15;
  color: var(--text-secondary, #6C8989);
  line-height: 32px;
  letter-spacing: .32px;
}
.footer .copyright {
  display: flex;
}
.copyright svg {
  position: relative;
  top: -3px;
}
.copyright__link {
  color: var(--text-tertiary, #ADC9A6);
  text-decoration: none;
}
.footer-nav-list_horizontal > .footer-nav__item {
  padding: 0 25px;
}
.footer-nav-list_horizontal .nav-link {
  color: #DDE4E4;
}